<section class="dashboard-layout container">
  {{!--Date Picker--}}
  <div class="row">
    <div class="col l12">
      <div class="card">
        <form>
          <div class="input-field col l6">
            <input type="text" class="datepicker" id="new-date"/>
            <label>What day is the event?</label>
          </div>
          <div class="input-field col l3">
            <select id="location-zip">
              <option class="disabled selected">Choose a location</option>
              <option value="19102">19102</option>
              <option value="19103">19103</option>
              <option value="19104">19104</option>
              <option value="19106">19106</option>
              <option value="19107">19107</option>
              <option value="19111">19111</option>
              <option value="19112">19112</option>
              <option value="19114">19114</option>
              <option value="19115">19115</option>
              <option value="19116">19116</option>
            </select>
            <label>Playdate Location</label>
          </div>
          <div class="col l3">
            <button class="dashboard-button" id="enroll">Create Event</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{!--List for upcoming events--}}
  <div class="row">
    <div class="col l6">
      <div class="card">
        <ul class="collection">
          <li class="collection-item">Placeholder</li>
          <li class="collection-item">Placeholder</li>
          <li class="collection-item">Placeholder</li>
          <li class="collection-item">Placeholder</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<script src="/js/newEvent.js"></script>