<section class="dashboard-layout">
{{!--Date Picker--}}
    <div class="row">
        <div class="col l6">
          <div class="card">
            <form>
                <div class="input-field">
                    <input type="text" class="datepicker">
                </div>
            </form>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col l6">
          <div class="card">
            <ul class="collection">
                <li class="collection-item">Alvin</li>
                <li class="collection-item">Alvin</li>
                <li class="collection-item">Alvin</li>
                <li class="collection-item">Alvin</li>
            </ul>
          </div>
        </div>
    </div>
</section>