<section class="cards-test center-align">
<!--First Card-->
    <div class="row align-center">
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="./images/dog1.jpg">
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="/dashboard">Match a Play Date</a>
            </div>
          </div>
        </div>
    {{!-- </div> --}}
<!--Second Card -->
    {{!-- <div class="row"> --}}
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="./images/dog1.jpg">
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="/playdateform">Boarding Services</a>
            </div>
          </div>
        </div>
    {{!-- </div> --}}
<!--Third Card-->
    {{!-- <div class="row"> --}}
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="./images/dog1.jpg">
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a class="link-text" href="#">Walking Services</a>
            </div>
          </div>
        </div>
    </div>
</section>