<section class="form-layout container">
    <div class="column">
        <form class="col l12">
            <div class="name_age">
                {{!-- input for username --}}
                <div class="input-field col s12 m12 l6">
                    <input id="new-username" type="text" class="validate">
                    <label for="new-username">Email</label>
                </div>
                {{!-- input for password --}}
                <div class="input-field col s12 m12 l6">
                    <input id="new-password" type="password" class="validate">
                    <label for="new-password">Password</label>
                </div>
            </div>
            <div class="name_age">
                {{!-- input for pets name --}}
                <div class="input-field col s12 m12 l6">
                    <input id="pet_name" type="text" class="validate">
                    <label for="pet_name">Pet Name</label>
                </div>
                {{!-- input for pets age --}}
                <div class="input-field col s12 m12 l6">
                    <input id="pet_age" type="text" class="validate">
                    <label for="pet_age">Pet Age</label>
                </div>
            </div>
            {{!-- dropdown to select the pets species --}}
            <div class="col s12 m12 l6">
                <select id="species">
                    <option value="" disabled selected>Select your pets species</option>
                    <option value="Dog">Dog</option>
                    <option value="Cat">Cat</option>
                    <option value="Bird">Bird</option>
                    <option value="Lizard">Lizard</option>
                </select>
            </div>
            {{!-- slider for pet activeness --}}
            <div class="col s12 m12 l6">
                <form>
                    <label>Activity level of your pet? (1 is chill/lazy, 5 is hyper)</label>
                    <p class="range-field">
                        <input type="range" id="activity_level" min="1" max="5"/>
                    </p>
                </form>
            </div>
            {{!-- gender radio buttons --}}
            <div class="col s12 m12 l6">
                <form>
                    <p>Gender of your pet?</p>
                    <p>
                        <label>
                            <input value="Female" name="gender" type="radio"/>
                            <span>Female</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input value="Male" name="gender" type="radio"/>
                            <span>Male</span>
                        </label>
                    </p>
                </form>
            </div>
            {{!-- fixed radio buttons --}}
            <div class="col s12 m12 l6">
                <form>
                    <p>Is your pet fixed?</p>
                    <p>
                        <label>
                            <input value="true" name="fixed" type="radio"/>
                            <span>Yes</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input value="false" name="fixed" type="radio"/>
                            <span>No</span>
                        </label>
                    </p>
                </form>
            </div>
            <button class="btn waves-effect waves-light btn-large" id="signup-btn" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</section>
<script src="/js/signup.js"></script>