{{#if loggedIn}}
<div class="container">
    <h3 class="center-align">You are already registered!</h3>
    <div class="input-field col s12 m3 l3 center-align">
                <a href="/dashboard" class="waves-effect waves-light btn btn-large">back to dashboard</a>
            </div>
    </div>
{{else}}
<section class="form-layout container">
    <div class="column">
        <form class="col l12">
            <div class="name_age">
                {{!-- input for username --}}
                <div class="input-field col s12 m12 l6">
                    <input id="new-username" type="text" class="validate">
                    <label for="new-username">Email</label>
                </div>
                {{!-- input for password --}}
                <div class="input-field col s12 m12 l6">
                    <input id="new-password" type="password" class="validate">
                    <label for="new-password">Password</label>
                </div>
            </div>
            <div class="name_age">
                {{!-- input for pets name --}}
                <div class="input-field col s12 m12 l6">
                    <input id="pet_name" type="text" class="validate">
                    <label for="pet_name">Pet Name</label>
                </div>
                {{!-- input for pets age --}}
                <div class="input-field col s12 m12 l6">
                    <input id="pet_age" type="text" class="validate">
                    <label for="pet_age">Pet Age</label>
                </div>
            </div>
            {{!-- TODO: Submit file section of form --}}
            <form action="#">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </form>
            {{!-- dropdown to select the pets species --}}
            <div class="col s12 m12 l6">
                <select id="species">
                    <option value="" disabled selected>Select your pets species</option>
                    <option value="Dog">Dog</option>
                    <option value="Cat">Cat</option>
                    <option value="Bird">Bird</option>
                    <option value="Lizard">Lizard</option>
                </select>
            </div>
            {{!-- slider for pet activeness --}}
            <div class="col s12 m12 l6">
                <form>
                    <label>Activity level of your pet? (1 is chill/lazy, 5 is hyper)</label>
                    <p class="range-field">
                        <input type="range" id="activity_level" min="1" max="5" />
                    </p>
                </form>
            </div>
            {{!-- gender radio buttons --}}
            <div class="col s12 m12 l6">
                <form>
                    <p>Gender of your pet?</p>
                    <p>
                        <label>
                            <input value="Female" name="gender" type="radio" />
                            <span>Female</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input value="Male" name="gender" type="radio" />
                            <span>Male</span>
                        </label>
                    </p>
                </form>
            </div>
            {{!-- fixed radio buttons --}}
            <div class="col s12 m12 l6">
                <form>
                    <p>Is your pet fixed?</p>
                    <p>
                        <label>
                            <input value="true" name="fixed" type="radio" />
                            <span>Yes</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input value="false" name="fixed" type="radio" />
                            <span>No</span>
                        </label>
                    </p>
                </form>
            </div>
            <button id="upload_widget" class="cloudinary-button">Upload Picture</button>
            <div class="input-field col s12 m3 l3">
                <a id="signup-btn" href="#" class="waves-effect waves-light btn btn-large">Signup</a>
            </div>
        </form>
    </div>
</section>

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script> 
<script src="/js/signup.js"></script> 
{{/if}}