<section class="container">
   <div class="col s12">
    <h2 class="header center-align">You're off-leash and we lost you!</h2>
    <div class="card waves-effect waves-effect waves-light">
         <div class="card-action center-align">
          <a href="/home">TAKE ME HOME</a>
        </div>
      <div class="card-image">
        <img src="./images/sadDog.jpg" alt="Sad dog in a big empty room">
      </div>
      </div>
    </div>
  </div>
    </div>
</section>