* {
    font-family: 'Comfortaa', cursive;
}
/* Nav bar */
.nav-wrapper, nav a {
    background-color: #f0801a;
    color: #f8d152;
}
nav .brand-logo {
    font-size: 2rem;
    margin-left: 1%;
}
#login-card {
    position: relative;
    margin-right: 8%;
    opacity: 95%;   
}
.collection {
    padding: 1%;
}
/* Cards */
.card {
    margin: 2rem 0 0;
}
/* Toast popup */
.toast {
    background-color: #f8d152;
    color: #f0801a;
}
/* Hero image */
.hero-image {
    background-image: url("../images/pawprint.jpg");
    background-repeat: no-repeat;
    height: 40vh;
    background-size: cover;
}
#home-login {
    position:relative;
    margin-left: 5%;
}
/* Playdate form*/
.btn {
    background-color: #1785b6;
    color:#fff;
}
.btn:hover {
    background-color: #72c3bd;
}
/* Footer */
.footer {
    background-color: #f0801a;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 1%;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}
/* Media controls */
@media (max-width: 480px) {
    nav .brand-logo {
      font-size: 1rem;
    }
}